h1{
	font-family: "Trebuchet MS", sans-serif;
	font-size: 35px;
	color: blue;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('imagenes/side background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}