@font-face {
    font-family: 'MythosFont';
    src: url('../MythosFont.ttf') format('truetype');
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 35px;
    color: blue;
}

h2 {
    font-family: 'MythosFont', sans-serif;
    font-size: 50px;
}

h3 {
    font-family: 'MythosFont', sans-serif;
    font-size: 20px;
}

.centrado {
    text-align: center;
}

.lado {
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}

.lado2 {
    margin-left: 25px;
    margin-right: 25px;
    text-align: right;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #2e2a2a;
}

.container img {
    max-width: 100%;
    max-height: 100%;
}

.contenedor {
    height: 100%;
    width: 73.33%;
    margin: 0 auto;
}

.nombre {
    display: inline-block;
    width: 270px;
}

.box {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 4px;
    background-color: red;
    color: white;
}

.espacio-largo {
    margin-right: 200px;
}

.boton {
    flex: 1;
    margin: 0px;
}

.tarea {
    display: inline-block;
    width: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.video-container {
    flex: 1;
    margin-right: 20px;
}

.text-container {
    flex: 1;
    margin-left: 20px;
}

video {
    max-width: 100%;
    height: auto;
}

.botonera {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.corner-text {
    color: black;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom-left-radius: 10px;
    font-size: 10px;
}

.linea-uniforme {
    display: block;
    margin-left: 40%;
}

.imagen-reducida {
    width: 40%;
    height: 50%;
}

#izq {
    background-color: aliceblue;
    width: 13.33%;
    float: left;
    height: 1440vh;
    background-image: url('../imagenes/sidebackground.png');
}
#izq2 {
    background-color: aliceblue;
    width: 13.33%;
    float: left;
    height: 150vh;
    background-image: url('../imagenes/sidebackground.png');
}

#izq3 {
    background-color: aliceblue;
    width: 13.33%;
    float: left;
    height: 75vh;
    background-image: url('../imagenes/sidebackground.png');
}

#izq4 {
    background-color: aliceblue;
    width: 13.33%;
    float: left;
    height: 740vh;
    background-image: url('../imagenes/sidebackground.png');
}


#der {
    background-color: aliceblue;
    width: 13.33%;
    float: right;
    height: 1440vh;
    background-image: url('../imagenes/sidebackground.png');
    background-size: 100%;
}
#der2 {
    background-color: aliceblue;
    width: 13.33%;
    float: right;
    height: 150vh;
    background-image: url('../imagenes/sidebackground.png');
    background-size: 100%;
}
#der3 {
    background-color: aliceblue;
    width: 13.33%;
    float: right;
    height: 75vh;
    background-image: url('../imagenes/sidebackground.png');
    background-size: 100%;
}
#der4 {
    background-color: aliceblue;
    width: 13.33%;
    float: right;
    height: 740vh;
    background-image: url('../imagenes/sidebackground.png');
    background-size: 100%;
}

.imagen-reducida2 {
    width: 20%;
    height: 20%;
}